<div>
  <label for="contact-name">Name</label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email</label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Phone</label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Image</label>
  <input type="image" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button>

<div class="" *ngFor = "let contact of contacts">
  <li>{{contact.name}}</li>
  <li>{{contact.email}}</li>
  <li>{{contact.phoneNumber}}</li>
  <img src= "{{contact.image}}">
</div>
